{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% if movie is not null %}
        <h1>Movie: {{ movie.title }}</h1>

        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="w-50 float-end">
        <ul>
            <li>Country : {{ movie.country }}</li>
            <li>Released : {{ movie.releasedAt|date('Y M d') }}</li>
            <li>Genres: {{ movie.genres|reduce((carry, genre) => carry == '' ? genre.name : carry ~ ', ' ~ genre.name) }}</li>
        </ul>
    {% else %}
        <h1>Movie</h1>
        <p>Movie not found.</p>
    {% endif %}
</div>
{% endblock %}
